<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Logotype Demo Website</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>
<header>
<a href="../index.html">
 <img src="../images/logo.jpg" alt="Logo">
</a>
</header>

  <nav id="navbar">
    <ul>
        <li><a href="../views/acerca.html">Acerca de</a></li>
        <li><a href="../views/productos.html">Productos</a></li>
        <li><a href="../views/servicios.html">Servicios</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>        
    </ul>
  </nav>

  <article>
    <section id="content">
        
        <aside>
        <img src="../images/empresa.jpg" alt="Empresa"></aside>
        <div class="test0"><h1>Acerca de Nosotros</h1>
        <p>Somos una empresa líder en el diseño e implementación de soluciones empresariales de alta calidad, basadas en las Tecnologías de la Información y las Comunicaciones (TIC), a través del mejoramiento continuo, con un óptimo retorno de la inversión, reconocida por ser competitiva, con talento humano de clase mundial y socialmente responsable.</p>
        <h3>Misión</h3>
        <p>Contribuir con la competitividad y productividad de los sectores educativo y empresarial ofreciéndoles soluciones innovadoras, que generen valor para nuestros clientes y accionistas, mediante la incorporación de las Tecnologías de la Información y las Comunicaciones (TIC), con personal comprometido en la búsqueda de la excelencia y la construcción de sólidas relaciones de negocios. Actuando con responsabilidad social y comprometidos con el futuro sostenible de la sociedad.</p>
        </div>
    </section>

      
    
  </article>
<footer>
<p>©2015 Logotype</p>
</footer>
</body>
</html>