<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Logotype Demo Website</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>
<header>
<a href="../index.html">
 <img src="../images/logo.jpg" alt="Logo">
</a>
</header>

  <nav id="navbar">
    <ul>
        <li><a href="../views/acerca.html">Acerca de</a></li>
        <li><a href="../views/productos.html">Productos</a></li>
        <li><a href="../views/servicios.html">Servicios</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>        
    </ul>
  </nav>
 
  <article>
    <section id="contact">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1881.3528293102104!2d-99.17271763086319!3d19.425119570315843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x8a9befa57a87afd1!2sFuente+de+La+Diana+Cazadora!5e0!3m2!1ses-419!2smx!4v1444693832143" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>        

        <div class="column-2">
        <img src="../images/contacto.jpg" alt="Servicios">
		</div>
        <div class="column-2"><h1>Contáctenos</h1>
        <p>Teléfono: (55) 1000 00 00 00 - (51) 1300 5 1234 </p>
        <p>Oficinas: Av. Paseo de la Reforma 1300, México, D.F.</p> 
        </div>        
    </section>

      
    
  </article>
<footer>
<p>©2015 Logotype</p>
</footer>
</body>
</html>