<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Logotype Demo Website</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>
<header>
<a href="../index.html">
 <img src="../images/logo.jpg" alt="Logo">
</a>
</header>

  <nav id="navbar">
    <ul>
        <li><a href="../views/acerca.html">Acerca de</a></li>
        <li><a href="../views/productos.html">Productos</a></li>
        <li><a href="../views/servicios.html">Servicios</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>        
    </ul>
  </nav>

  <article>
    <section id="servicios">
        
        <h1>Conoce nuestros servicios y productos</h1>
        <p>Ahorre dinero, en infraestructura tecnológica y personal de mantenimiento; nuestros servicios en la Nube le proveen una solución real para implementar un sistema de información o comunicación empresarial, sin preocuparse por ningún asunto técnico. </p>

        <div class="column-3">
			<img src="../images/servicio_1.png" alt="Servicio 1">
            <h2>Seguridad Informática</h2>
            <p>Cualquier organización sea grande o chica necesita Servicios de Seguridad Informática, normalmente las grandes organizaciones son quienes caen en cuenta primero de esa necesidad, pero al final todos necesitan los Servicios de Seguridad Informática para asegurar la integridad y la privacidad de sus datos. </p>
        </div>
        <div class="column-3">
           <img src="../images/servicio_2.png" alt="Servicio 2">
           <h2>Consultoría IT</h2>
           <p>Un conjunto de asesores diagnostica las principales fortalezas, oportunidades, amenazas y debilidades y colabora con la empresa para la consecución de los objetivos. Los consultores IT no son meros consejeros, sino que se hacen partícipes y responsables de la implementación de las recomedaciones realizadas alinéandose de ésta manera con las necesidades de la empresa. El alcance de éstas actividades es muy amplio, se pueden citar diseño y armado de redes, recomendaciones de sistemas a medida o sistemas enlatados, SEO (posicionamiento web), etc</p>
        </div>
        <div class="column-3">
           <img src="../images/servicio_3.png" alt="Servicio 3">
           <h2>Diseño Web</h2> <p>En éstos tiempos, una empresa sin presencia en Internet pierde muchas ventajas y deja de ser competitiva. Como parte de nuestras soluciones IT ofrecemos páginas web auto administrables con un diseño preacordado y con muchas funcionalidades a fin de que tanto la relación con sus clientes como su imágen empresarial mejoren sustancialmente. Añadido a este servicio puede integrarse la web en google para hacer uso de la la gran cantidad de utilidades que éste nos brinda.</p>
        </div>
    </section>

      
    
  </article>
<footer>
<p>©2015 Logotype</p>
</footer>
</body>
</html>