/* Universal selector*/
*{
	margin: 0px;
}
body{
	max-width: 100%;
	font-family: "Arial", Helvetica, sans-serif
}
header{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin: 30px 0px 0px;
}
h1{
	color:rgb(10,120,200);
	margin: 0px 0px 10px;
}

h3{

}

article{
	margin:20px 50px;
}
aside {
    margin: 20px 50px;
}
article p{
	text-align: left;
	margin: 10px 0px 20px;
	width:100%;
}
/* Class Selectors*/
.role{

}
.contact {
    list-style: none;
    padding: 0px;
    margin: 10px 0px
}
.contact li{

}
.contact li a{
	border:1px solid rgb(10,120,200);
    float: left;
    margin-right: 10px;
    padding: 10px 20px;
    font-weight: 100;	
    color:rgb(10,120,200);
	text-decoration: none;

}
.contact li a:hover{
	background-color: rgb(10,120,200);
    color:white;

}
.avatar{
	width: 23%;
	float: left;
	margin-right: 20px
}
/*ID Selectors*/
#navbar {

	background-color: rgb(10,120,200);
	/*width: 100%;
	float:left;*/
	margin: 20px auto;
	text-align: center;
	padding: 30px 0px 30px 0px;

}

/*Descendant Selector*/

#navbar ul li a{
	text-decoration: none;
	color: white;

}

/*Child selector*/
#navbar > ul{
	list-style: none;

}
#navbar > ul li{
	display: inline;
	margin-right: 4%;
	font-size: 24px

}


/*Adjacent sibling selector*/
h3 + p{
	color:blue;
}

/* Pseudo class selector*/
a:link{
	text-decoration: none
}
/*a:visited{
	color:yellow
}
a:focus{
	color:green
}
a:hover{
	color:orange
}
a:hover{
	color:
}*/
#navbar > ul li a:hover{
	color:rgb(150,190,240);

}

