/* Universal selector*/
*{
	margin: 0px;
}
body{
	max-width: 100%;
	font-family: "Arial", Helvetica, sans-serif;
}
header{
	text-align: center;
	font-weight: bold;
	margin: 15px 0px 0px;
	min-height:90px
}
header img{
	
	max-width:100%;
	height:100px;
	width:auto;
}
h1{
	color:rgb(10,120,200);
	margin: 0px 0px 10px;
	font-size: 2em
}

article{
	margin:20px 50px;
}
aside {
    margin: 20px 50px;
}
article p{
	text-align: left;
	margin: 10px 0px 20px;
	width:100%;
}
footer{
	background-color:#302E2E;
	min-height:100px;
	
	}
footer p{
	color:rgb(200,200,200);
	font-size:0.8em;
	text-align: center;
    margin: 0px;
    padding: 50px 10px;
	
	}	
/* Class Selectors*/
.role,  .role1, role3{

}
#contact ul {
    list-style: none;
    padding: 0px;
    margin: 10px 0px
}
#contact li{

}
#contact li a{
	border:1px solid rgb(10,120,200);
    float: left;
    margin-right: 10px;
    padding: 10px 20px;
    font-weight: 100;	
    color:rgb(10,120,200);
	text-decoration: none;

}
#contact li a:hover{
	background-color: rgb(10,120,200);
    color:white;

}
.avatar{
	width: 23%;
	float: left;
	margin-right: 20px
}
#banner{
	width: 80%;
	margin:auto
	

}

#banner img{
	max-width: 100%;
}
/*ID Selectors*/
#navbar {


	background-color: #f9c606;
	/*width: 100%;
	float:left;*/
	text-align: center;
	padding: 30px 0px 25px 0px;
 	margin: 10px auto 25px;

}

/*Descendant Selector*/

#navbar ul li a{
	text-decoration: none;
	color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
}

/*Child selector*/
#navbar > ul{
	list-style: none;

}
#navbar > ul li{
	display: inline;
    font-size: 1.1em;
    border-right: 1px solid #703694;
    padding-right: 2%;
	margin-right:2%
}


/*Adjacent sibling selector*/
h3 + p{
	color:blue;
}

/* Pseudo class selector*/
a:link{
	text-decoration: none
}

#navbar > ul li a:hover{
	color: #703694;
}
#languages ul {
	list-style: none;
	margin-top: 3%;
}
#languages ul li {
	display: inline;
	margin-right: 1%
}
#languages ul li >img{
    height: 100px;
    margin: 0% 3% 2%;
}
.test1,.test2,.test3,.test4{
	width:22%;
	margin-right:2%;
	float:left;
	height: 250px
}
#excercise{
	width: 100%
}

#content{
	width: 80%;
	margin: 3% auto 10%;
}
#content h1{
	color:#7f3e98;
	line-height:2em
	
}
#content img{
	height:300px
}
#content aside{
	float:left
}

@media screen and (max-width:767px){
#content img {
    height: 200px;
}	
#content h1{
	color:#7f3e98;
	line-height:1.4em
	
}
#content aside {
    float: none;
	margin:auto;
	text-align: center
}
#content,#banner{
	width: 100%;
}


} 
@media screen and (max-width:478px){
#navbar >ul li{
	    font-size: 0.9em;
	}
} 
